# Python
__pycache__/
*.pyc

# Uploads
server/uploads/

# Test images
server/ai_engine/*.jpg
server/ai_engine/*.jpeg
server/ai_engine/*.png

# Models
server/models/

# Virtual environments
venv/
.venv/

# Node
client/node_modules/
client/dist/

# VS Code
.vscode/

# Logs
*.log