fastapi
uvicorn[standard]
python-multipart
python-dotenv
email-validator
sqlalchemy
passlib
bcrypt==4.0.1
python-jose[cryptography]

pillow
opencv-python-headless==4.10.0.84
numpy

torch
torchvision
transformers
accelerate
safetensors

scikit-image
piexif

reportlab

python-magic-bin; platform_system=="Windows"